Status Code : {{statusCode}}
Count : {{pages.size}}
{{#pages}}
* {{statusCode}} - {{parent.uri}} - {{parent.loadTimeInMillis}}ms
{{#children}}
** {{statusCode}} - {{uri}}
{{/children}}

{{/pages}}
